<div class="container w-50 mt-4 pt-4">
  
  <form>
    <div class="row">
      <div class="form-group col-md-6 form-inline">
        Search country by name: 
  <input class="form-control ml-2" type="text" name="searchTerm" [(ngModel)]="searchTerm"
          (input)="search($event)" />
      </div>
      <div class="form-group col-md-6 form-inline">
        Number of records per page : 
  <input class="form-control ml-2" type="text" name="pageSize" [(ngModel)]="pageSize" />
      </div>
    </div>
    
  </form>
  <table class="table table-striped" *ngIf="userArray.length !== 0">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col" sortable="name">Country</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of userArray  | slice: (page-1) * pageSize : page * pageSize; index as i">
        <th scope="row">{{data.id}}</th>
        <td>
          {{ data.countryName }}
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="userArray.length == 0">
    No recored Found
  </div>
<ng-container *ngIf="userArray.length !== 0">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5" [boundaryLinks]="true"
    [pageSize]="pageSize" class="d-flex justify-content-center"></ngb-pagination>
</ng-container>
  
</div>
<router-outlet></router-outlet>